<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs form-horizontal">
    <%= f.input :name %>
    <%= f.input :email %>
    <%if @user.id? %>
      <a href="#" id="changePassword" style="margin-left: 50%">Change password</a>
      <% style = "display: none;" %>
    <%end%> 
    <div id="password" style="<%= style %>">
      <%= f.input :password%>
      <%= f.input :password_confirmation %>
    </div>
    <%= f.input :phone %>
    <%= f.input :role, :collection => User::ROLES, :as => :radio_buttons %>
    <div id="teams" style="<%= 'display: none;' if @user.is?(:customer) %>"><%= f.association :teams%></div>
<!--     <%= f.input :note, :input_html => { :rows => 5} %> -->
  </div>
  
  <div class="form-actions">
    <%= link_to "Cancel", users_path,  :class => "btn" %>
    <%= f.button :submit, :class => "btn-primary" %>
  </div>
<% end %>
