<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs form-horizontal">
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :password%>
    <%= f.input :password_confirmation %>
    <%= f.input :phone %>
    <%= f.input :role, :collection => User::ROLES, :as => :radio_buttons, :checked => User::ROLES[0] %>
    <%= f.input :note, :input_html => { :rows => 5} %>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
