<%= simple_form_for(@ticket) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs form-horizontal">
    <%= f.input :subject, :input_html => { :maxlength => 100, :class => "input-xlarge" } %>
    <%= f.input :description, :input_html => { :rows => 7, :class => "input-xlarge" } %>
    <%= f.input :priority, :collection => Ticket::PRIORITIES, :as => :radio_buttons, :checked => "low" %>
    <%= f.input :team_id, :collection => Team.all %>
    <% if @ticket.id? %>
      <%= f.input :status, :collection => Ticket::STATUSES %>
    <% end %>
    <% if current_user.is? :admin %>
      <%= f.input :assignee_id, :collection => User.admins %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= link_to "Cancel", tickets_path,  :class => "btn" %>
    <%= f.button :submit, :class => "btn-primary" %>
  </div>
<% end %>
