<%= simple_form_for(@ticket) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs form-horizontal">
    <%= f.input :subject, :input_html => { :maxlength => 100, :class => "input-xlarge" } %>
    <%= f.input :description, :input_html => { :rows => 7, :class => "input-xlarge" } %>
    <%= f.input :priority, :collection => Ticket::PRIORITIES, :as => :radio_buttons, :checked => "low" %>
    <% if current_user.is? :admin %>
      <%= f.input :status, :collection => Ticket::STATUSES, :default => "open" %>
      <%= f.input :assignee_id %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
