<%= simple_form_for(@ticket) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs form-horizontal">
    <% if current_user.is? :admin%>
      <div class="control-group string required">
        <label class="string required control-label" for="user_id">
          <abbr title="required">*</abbr> User Name
        </label>
        <div class="controls">
          <input type="text" data-provide="typeahead" data-items="4" data-source="[<%= display_typehead(User.all) %>]" class="string required input-xlarge" id="user_name<%= rand() %>" name="user_name" autocomplete="off" value="<%=@ticket.contact.name if !@ticket.contact.nil? %>"/>
        </div>
      </div>
    <% end %>
    <%= f.input :subject, :input_html => { :maxlength => 50, :class => "input-xlarge" } %>
    <%= f.input :description, :input_html => { :rows => 7, :class => "input-xlarge" } %>
    <%= f.input :priority_id, :collection => Priority.all, :as => :radio_buttons%>
    <%= f.input :team_id, :collection => Team.all %>
    <% if @ticket.id? %>
      <%= f.input :status, :collection => Ticket::STATUSES %>
    <% end %>
    <% if current_user.is? :admin %>
      <%= f.input :assignee_id, :collection => User.admins %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= link_to "Cancel", tickets_path,  :class => "btn" %>
    <%= f.button :submit, :class => "btn-primary" %>
  </div>
<% end %>



