<!DOCTYPE html>
<html>
<head>
  <title>Remedy</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Remedy</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Dashboard" %></li>
            <li><%= link_to "Tickets", tickets_path %></li>
            <li><%= link_to "Users", users_path %></li>
            <li><%= link_to "Help" %></li>
            <li><%= link_to "Contact Us" %></li>
          </ul>
          <%if current_user %>
          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.full_name %> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><%= link_to "Sign out", logout_url %></li>
              </ul>
            </li>
          </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
        <a class="close" data-dismiss="alert">×</a>
        <%= msg %>
      </div>
    <% end %>
    
    <div class="row">
      <div class="span9"><%= yield %></div>
      <div class="span3">
        <h2>Nav</h2>
        Some navigation links go here
      </div>
    </div>
  </div>
</body>
</html>
